
@{
    ViewBag.Title = "Liên hệ với CVHEALTH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header" style="background-image: url(/Assets/images/icon-label.png); background-repeat: no-repeat; padding-left: 40px; line-height: 35px; height: 35px; color: whitesmoke; text-transform: uppercase;font-size: 14px">
                Thông tin liên hệ

            </h2>
           
        </div>
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <!-- Map Column -->
        <div class="col-md-8">
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.353905620902!2d105.77560891437875!3d21.05852269213865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454d5a1828565%3A0x1ab2bd314ed8a787!2zTmfDtSA0MyBD4buVIE5odeG6vywgQ-G7lSBOaHXhur8gMiwgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1445517886026" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
        
        </div>
        <!-- Contact Details Column -->
        <div class="col-md-4">
            <h3>Thông tin chi tiết</h3>
            <p>
                43 Cổ Nhuế<br>Từ Liêm, Hà Nội<br>
            </p>
            <p>
                <i class="fa fa-phone"></i>
                <abbr title="Phone">Số điện thoại</abbr>: (+84) 01653 361 943
            </p>
            <p>
                <i class="fa fa-envelope-o"></i>
                <abbr title="Email">Email</abbr>: <a href="mailto:vuvanchienk57@gmail.com">cvsupport@gmail.com</a>
            </p>
           
            <ul class="list-unstyled list-inline list-social-icons">
                <li>
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>              
                <li>
                    <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
<!-- /.row -->

</div>